{% extends 'mainapp/basehtml.html' %}

{%block tittle%}Домашняя{%endblock%}
{%block actualpage%}
<a class="nav-link active" aria-current="page" href="#"></a>
{%endblock%}



{%block content%}

<iframe width="560"
        height="315"
        src="https://www.youtube.com/embed/bCebeQBYvu8"
        title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay;
         clipboard-write; encrypted-media;
         gyroscope; picture-in-picture" allowfullscreen></iframe>
<h4>Сосай Куросай</h4>

{%endblock%}
